venv
.idea
*.iml
*.pyc
nosetests.xml
gotest.out
tests.xml
*_local.py
build
dist
capper.egg-info
logs/*
supervisord.pid
.ropeproject
.zone
.vagrant/*
.vscode/*
.dev
.DS_Store
cover.out
coverage.xml
!**/.gitkeep
config_local.py
bin/
vendor/*

## App specific
demo.*
node_modules
*.pem
scripts/presenter.sh

