apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: iot-message-dumper
  namespace: demo
  labels:
    # serving.knative.dev/visibility: cluster-local # note use of cluster-local label
spec:
  runLatest:
    configuration:
      revisionTemplate:
        spec:
          container:
            image: gcr.io/knative-releases/github.com/knative/eventing-sources/cmd/message_dumper@sha256:73a95b05b5b937544af7c514c3116479fa5b6acf7771604b313cfc1587bf0940
            env:
            - name: RELEASE
              value: "v0.1.1"
